.containerAbout {
  position: relative;
  top: 20vh;
  height: 95vh;
  width: 100%;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10rem;
}

.containerNameAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%) translateY(-50%);
}

.containerUIAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
}

.h1NameAbout {
  font-size: 6rem;
  line-height: 0.8;
  color: rgba(21, 19, 17);
  text-align: center;
  letter-spacing: 9px;
}

.h2RoleAbout {
  font-size: 1rem;
  line-height: 0.8;
  color: rgba(21, 19, 17, 0.7);
  font-size: 1.25rem /* 24px */;
  line-height: 2rem /* 32px */;
  text-align: center;
  letter-spacing: 3px;
  font-family: HelveticaNeueRegular, Helvetica, Arial, sans-serif;
}

.imgFloatAbout {
  width: 100%;
  height: 90vh;
  position: absolute;
}

.imgFloatAbout img {
  position: absolute;
}

.imgFloatOneAbout {
  left: 90%;
  top: 70%;
}

.imgFloatTwoAbout {
  left: 30%;
  top: 0%;
}

.imgFloatThreeAbout {
  left: 4%;
  top: 5%;
}

.imgFloatFourAbout {
  left: 10%;
  top: 50%;
}

.imgFloatFiveAbout {
  left: 80%;
  top: 25%;
}

.imgFloatSixAbout {
  left: 60%;
  top: 66%;
}

.imgFloatSevenAbout {
  left: 68%;
  top: 0%;
}

.imgFloatEightAbout {
  left: 40%;
  top: 60%;
}

.aboutButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3.5rem /* 56px */;
  padding-right: 3.5rem /* 56px */;
  margin-left: 3.5rem /* 56px */;
  margin-right: 3.5rem /* 56px */;
}

.buttonCV {
  font-size: 1.75rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: KonstantGrotesk, Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s;
  padding-top: 0;
  margin-bottom: 0;
}

.buttonCV:hover {
  color: #04b703;
}

.pAbout {
  color: rgba(21, 19, 17, var(--tw-text-opacity));
  font-size: 1.25rem /* 24px */;
  line-height: 2rem /* 32px */;
  padding-bottom: 8rem /* 56px */;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 0;
  margin: 0;
  font-family: HelveticaNeueRegular, Helvetica, Arial, sans-serif;
}

/* BREAKPOINTS */

/* for medium devices */
@media screen and (max-width: 768px) {
  .containerNameAbout {
    padding-left: 2rem /* 56px */;
    padding-right: 2rem /* 56px */;
    margin: 0;

    padding-top: 1rem /* 40px */;
  }

  .containerRoleAbout {
    padding-left: 2rem /* 56px */;
    padding-right: 2rem /* 56px */;
    margin: 0;

    padding-bottom: 2.5rem /* 40px */;
  }

  .containerUIAbout {
    display: flex;
  }

  .h1NameAbout {
    font-size: 2.5rem;
  }
}

/* for small devices */

@media screen and (max-width: 350px) {
  .containerNameAbout {
    padding-left: 1rem /* 56px */;
    padding-top: 1rem /* 40px */;
    margin: 0;
  }

  .containerRoleAbout {
    padding-left: 0.75rem /* 56px */;
    padding-bottom: 1.5rem /* 40px */;
    margin: 0;
  }

  .containerUIAbout {
    display: flex;
  }

  .h1NameAbout {
    font-size: 1.5rem;
  }
}
