.containerPortfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 3.5rem /* 56px */;
  padding-right: 3.5rem /* 56px */;

  margin-left: 3.5rem /* 56px */;
  margin-right: 3.5rem /* 56px */;
  padding-top: 12rem /* 192px */;
}

.h1_portfolio {
  color: rgba(21, 19, 17);
  padding-bottom: 1.25rem /* 20px */;
}

.p_portfolio {
  color: rgba(21, 19, 17);
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  padding-bottom: 3.5rem /* 56px */;
  text-align: justify;
  letter-spacing: 3px;
}

.container_portfolioGroup {
  display: flex;
  flex-direction: column;
  padding-left: 3.5rem /* 56px */;
  padding-right: 3.5rem /* 56px */;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 3.5rem /* 56px */;
  padding-right: 3.5rem /* 56px */;
  margin-left: 3.5rem /* 56px */;
  margin-right: 3.5rem /* 56px */;
  padding-top: 5rem;
}

.columnContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid rgb(21, 19, 17);
  cursor: pointer;
  transition: all 0.2s;
}

.columnContainer:last-of-type {
  border-bottom: 1px solid rgb(21, 19, 17);
}

.columnContainer:hover {
  opacity: 0.5;
}

.columnContainer h1 {
  color: rgba(21, 19, 17);
  font-size: 1.5rem;
  transition: all 0.4s;
}

.columnContainer:hover h1 {
  transform: translateX(-10px);
}

.columnContainer p {
  color: rgba(21, 19, 17);
  font-size: 1.5rem /* 24px */;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.4s;
}

.columnContainer:hover p {
  transform: translate(10px);
}
