.mainPage {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mainPage {
    top: 10vh;
  }
}

/* for small devices */

@media screen and (max-width: 500px) {
  .mainPage {
    top: 10vh;
  }
}
@media screen and (max-width: 350px) {
  .mainPage {
    top: 3vh;
  }
}
