.mainPage {
  position: relative;
  top: 18vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mainPage {
    top: 15vh;
  }
}

/* for small devices */

@media screen and (max-width: 500px) {
  .mainPage {
    top: 10vh;
  }
}
