.containerContact {
  background-color: rgba(21, 19, 17);
  padding-left: 7rem /* 56px */;
  padding-right: 7rem /* 56px */;

  padding-top: 2rem /* 192px */;
  padding-bottom: 4rem;
  margin-top: 15rem;
}

.h1_Contact {
  color: #ededed;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.gridFooter {
  margin-top: 2rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;

  border: 2px solid #ededed;
}

#iconT {
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;

  border-bottom: 2px solid #ededed;
  border-right: 2px solid #ededed;
  display: flex;
  justify-content: center;
}

.contactH1 {
  color: #ededed;
  padding: 2rem;
}

#textTele {
  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 5;
  border-bottom: 2px solid #ededed;
  display: flex;
  justify-content: flex-start;
}

.contactH1mail {
  font-size: 1.5rem;
  color: #ededed;
  padding: 2rem;
  align-self: center;
  font-family: HelveticaNeueBold, Helvetica, Arial, sans-serif;
}

#mail {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3;

  border-right: 2px solid #ededed;
}
#iconS {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 5;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconS {
  color: #ededed;
  width: 3rem;
  height: 3rem;
  transition: ease 0.3s;
}

.iconS:hover {
  box-shadow: 0px 0px 30px 0px #04b703;
}

@media screen and (max-width: 768px) {
  .containerContact {
    padding-left: 2rem /* 56px */;
    padding-right: 2rem /* 56px */;
    margin: 0;
  }

  .h1_Contact {
    font-size: 2.5rem;
  }

  .contactH1 {
    color: #ededed;
    padding: 1.5rem;
  }

  .contactH1mail {
    font-size: 1.5rem;
    padding: 1.5rem;
    align-self: center;
    font-family: HelveticaNeueBold, Helvetica, Arial, sans-serif;
  }

  .iconS {
    color: #ededed;
    width: 2.5rem;
    height: 2.5rem;
  }
}

/* for small devices */

@media screen and (max-width: 550px) {
  .containerContact {
    padding-left: 1rem /* 56px */;
    padding-top: 1rem /* 40px */;
    margin: 0;
  }

  .h1_Contact {
    font-size: 2.5rem;
  }

  .contactH1 {
    color: #ededed;
    padding: 1rem;
  }

  .contactH1mail {
    font-size: 1rem;
    padding: 1rem;
    align-self: center;
    font-family: HelveticaNeueBold, Helvetica, Arial, sans-serif;
  }

  .iconS {
    color: #ededed;
    width: 2rem;
    height: 2rem;
  }
}
