@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: HelveticaLT75BoldOutline;
  src: url("../src/assets/HelveticaLT75BoldOutline.ttf");
}

@font-face {
  font-family: HelveticaNeueRegular;
  src: url("../src/assets/HelveticaNeueRegular.otf");
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url("../src/assets/HelveticaNeueBold.ttf");
}

@font-face {
  font-family: HelveticaLightNormal;
  src: url("../src/assets/HelveticaLightNormal.ttf");
}

@font-face {
  font-family: KonstantGrotesk;
  src: url("../src/assets/KonstantGrotesk.otf");
}

:root {
  font-family: HelveticaNeueRegular, Helvetica, Arial, sans-serif;
  background-color: #ededed;
  color: #272727;
  padding: 0;
  margin: 0;
}

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body,
html {
  background-color: #ededed;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: KonstantGrotesk;
  font-size: 3.2em;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-family: KonstantGrotesk;
  font-size: 1.875rem;
  line-height: 1.1;
  text-transform: uppercase;
}
